@font-face {
  font-family: "Bold";
  src: url("../fonts/FiraSansCondensed-Bold.ttf");
}
@font-face {
  font-family: "Light";
  src: url("../fonts/FiraSansCondensed-Light.otf");
}
:root {
  --text-color: #fff;
  --bg-color: #1b1f24;
  --bg-color2: #22282;
  --main-color: #13bbff;
  --main-color2: #c3cad5;
  --h1-font: 4.5rem;
  --h2-font: 2.9rem;
  --p-font: 1rem;
  --border: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: "Light";
  text-decoration: none;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.fa-paintbrush {
  color: red;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  margin-top: 40px;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--border);
}

.header__logo {
  grid-area: 1/1/3/2;
  outline: 1px solid var(--border);
  width: 100%;
  max-width: 320px;
  outline: 1px solid var(--border);
}

.header__nav {
  grid-area: 1/2/2/3;
  align-items: center;
  justify-content: center;
  display: flex;
  outline: 1px solid var(--border);
}

.header__nav a {
  font-size: clamp(16px, 2.5vw, 36px);
  font-family: "Bold";
  color: red;
  margin-left: clamp(10px, 1.5vw, 20px);
  margin-right: clamp(10px, 1.5vw, 20px);
  transition: all 0.5s ease;
  outline: 1px solid var(--border);
  text-transform: uppercase;
}

.header__nav a:hover {
  color: white;
}

#menu-icon {
  cursor: pointer;
  display: none;
}

.top-button {
  display: flex;
  justify-content: center;
}

.h-button {
  display: inline-flex;
  justify-content: center;
  padding: 2px 13px;
  background: transparent;
  color: white;
  border: 2px solid white;
  align-self: center;
  border-radius: 8px;
  font-size: 1.75vw;
  transition: all 0.5s ease;
}

.services {
  max-width: 1280px;
  width: calc(100% - 80px);
  margin: 0 auto;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.3rem;
  margin-top: 1.2rem;
  align-items: stretch;
}

.services__center-text {
  text-align: center;
}

.services__center-text h2 {
  font-size: clamp(10px, 4vw, 32px);
}

.services__box {
  outline: 1px solid var(--border);
  padding: 40px 40px 16px;
  padding-left: clamp(10px, 4vw, 40px);
  padding-right: clamp(10px, 4vw, 40px);
  padding-top: clamp(10px, 4vw, 40px);
  padding-bottom: clamp(10px, 2vw, 40px);
  background: #2d343f;
  border-radius: 14px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px var(--main-color);
  transition: all 0.5s ease;
  cursor: pointer;
}

.services__box img {
  width: clamp(10px, 6vw, 48px);
  margin-bottom: 20px;
}

.services__box h3 {
  font-family: "Bold";
  font-size: clamp(10px, 3vw, 32px);
  margin-bottom: 1.5vw;
}

.services__box p {
  font-family: "Light";
  font-size: clamp(10px, 2vw, 20px);
}

.services__box a {
  display: inline-block;
  font-size: clamp(10px, 2.5vw, 26px);
  padding: 7px 0;
  font-family: "Bold";
  color: red;
  line-height: 1.273em;
  transition: all 0.5s ease;
}

.services__box a:hover {
  color: white;
}

@media (width >= 868px) {
  .services__content {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=index.css.map */